<form #registerForm="ngForm" (ngSubmit)="onSubmit()" appPasswordMatch>
  <fieldset>
    <legend>Register</legend>
    <div class="form-group">
      <label for="acc">Account Name</label>
      <input type="text" required minlength="3" [(ngModel)]="model.acc" name="acc" #acc="ngModel" [class.is-invalid]="!(acc.valid || acc.pristine)"  class="form-control" id="acc" placeholder="Enter account name">
      <div class="invalid-feedback">
          We do need at least three chars.
      </div>
    </div>
    <div class="form-group">
      <label for="pw1">Password</label>
      <input type="password" minlength="8" required [(ngModel)]="model.password" name="pw1" class="form-control" id="pw1" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="pw2">Password (repeated)</label>
      <input type="password" required [(ngModel)]="passwordRepeated" name="pw2" #pw2="ngModel" [class.is-invalid]="!(pw2.valid || pw2.pristine)" class="form-control" id="pw2" placeholder="Password">
      <div class="invalid-feedback">
          Passwords doesn't match.
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" required [(ngModel)]="model.email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="zip">ZIP</label>
      <input type="text" pattern="\d{5}" [(ngModel)]="model.zip" name="zip" #zip="ngModel" [class.is-invalid]="!(zip.valid || zip.pristine)" class="form-control" id="zip" placeholder="German ZIP-Code (Postleitzahl)">
      <div class="invalid-feedback">
          Please provide a valid city.
      </div>
    </div>
    <div class="actions d-flex justify-content-end pt-2">
        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid">Submit</button>
        <button type="submit" (click)="onSubmitAndContinue(registerForm)" class="btn btn-primary" [disabled]="!registerForm.form.valid">Submit and continue</button>
    </div>
  </fieldset>
</form>
